.mainContent-nav {
  width: 86%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-title {
  font-size: 50px;
}

.nav-middle {
  width: 32%;
  margin-left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-leftcontent {
  width: 10%;
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

button {
  border-radius: 100%;
  border: none;
  font-size: 16px;
  padding: 5px;
}
