#services {
  height: 72.8vh;
  color: rgb(10, 2, 2);
  background-image: url("../assets/background-01.jpg");
  animation: change 10s ease-in-out infinite;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.leftover {
  height: 135px;
  color: rgb(10, 2, 2);
  background: #6c63ff;
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}
